*.egg
*.egg-info/
*.pyc
*.pyo
*.sublime-*
.coverage
.env
.idea/
.tox*
.venv*
/*/MANIFEST
/*/activate
/*/build/
/*/coverage.xml
/*/dist/
/*/htmlcov/
/build/
/flask/
/config/
/dist/
TEST-*.xml
.DS_Store