*.egg
*.egg-info/
*.pyc
*.pyo
*.sublime-*
.coverage
.env
.gradle/
.idea/
.tox*
.venv*
/*/MANIFEST
/*/activate
/*/build/
/*/config
/*/coverage.xml
/*/dist/
/*/htmlcov/
/*/mppy-pinned.txt
/*/product-spec.json
/build/
/flask/
/config/
/dist/
/ligradle/
TEST-*.xml
